/* .navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #ff2626;
    width: 100%;
    z-index: 9999;
  }
  
  .navbar img {
    margin-right: 10px;
  }
  
  .navbar p {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }
  
  .account {
    margin-left: auto;
  }
  .connectBTN{
    margin-left: 70%;
  }
   */